*{
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    
}
body{
    background-color:lavender;
}

h1{
    color:rebeccapurple;
    text-align: center;
}
nav ul{ 
    background: linear-gradient(90deg, 
    rgba(255,255,255,0)0%, 
    rgba(255,255,255,0 )25%,
    rgba(255,255,255,0 )75%,
    rgba(255,255,255,0 )100%); 
    box-shadow: 0 0 25px rgba(0,0,0,0.1), 
    inset 0 0 1px rgba(255,255,255,0.6);
}

nav ul li a {
    padding:10px;
    color: rebeccapurple;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav ul{
    text-align: center;

}
nav ul li{
    display: inline-block;
    font-style: bold;
}

a:hover{
    color: plum;
}

.myprojects{
    margin: auto;
    border: 3px groove rebeccapurple;
    width: 70%;
    color: white;
    background-color: rgba(123, 16, 230, 0.3);
    box-shadow: 10px 10px 5px 5px #888888;
    text-align: center;
}

.myprojects2{
    margin: auto;
    border: 3px groove rebeccapurple;
    width: 70%;
    color: white;
    background-color: rgba(123, 16, 230, 0.3);
    box-shadow: 10px 10px 5px 5px #888888;
    text-align: center;
    margin-bottom: 40px;
}
.contact{
    position:fixed;
    bottom: 0px;
    text-align:center;
    background-color: rebeccapurple;;
    width: 100%;
    margin-top: 30px;
    color:white;
}

.cont{
    color:white;
}

.restaurant{
    width: 80%;
    height: 30em;
}

.edpresso{
    width: 80%
}



.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-duration: 6s;
  }
  
@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }



  .prev, .next{
    color: white;
    font-size: 4em;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    position: absolute;
    top:50%
    

}

.next{
    right: 0; 
}

.prev:hover, .next:hover{
    cursor: pointer;
    background-color:  rgb(204, 160, 245)
    
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease-in-out;
  }

.active, .dot:hover{
    background-color: rgb(243, 240, 245);
}
